<p id="notice"><%= notice %></p>

<% @downloads.each do |download| %>
  <article>
    <h3><%= download.name %></h3>
    <p><%= download.description %></p>
    <p class="filedetails">
      <span>Type:</span> <%= download.type %>
      <span>Downloads:</span> <%= download.hits %>
    </p>
    <p><%= link_to "Download", download_path(download.filename) %></p>
  </article>
<% end %>
